@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Como Chegar";
}

<div class="texto-home">
    <h2 class="Titulo-Conteudo">Como Chegar</h2>
    <p>De São Paulo: A entrada para Paraty-Mirim fica logo após o km 584 da estrada BR 101 (Rio-Santos), a
        saída fica à direita, onde inicia uma estrada de terra de 7 km até a praia.</p>

    <p>Do Rio de Janeiro: O trevo de entrada para Paraty Mirim se localiza a 10 km após a entrada/rotatória
        da cidade de Paraty (sentido Rio – Ubatuba) na estrada BR 101 (Rio-Santos), a saída fica à esquerda,
        onde começa uma estrada de terra de 7 km até a praia.</p>

    <p>De ônibus: Para quem chega de ônibus em Paraty: deve pegar o ônibus na rodoviária de Paraty com
        destino a Paraty-Mirim, o percurso tem o tempo de aproximadamente 40 minutos.</p>


</div>