@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Contatos";
}

<div class="texto-home">
    <h2 class="Titulo-Conteudo">Contatos</h2>
    <p>Facebook</p>
    <p><a href="https://www.facebook.com/associacaodemoradoresdeparatymirim">Clique aqui para acessar o
            Facebook</a></p>
    <p>Telefone: (24) 99932-3673</p>
    <p>Email: assoc.paraty-mirim@hotmail.com
    </p>


</div>