@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Fotos";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="~/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/js/Cloudflare/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="~/js/Cloudflare/lightbox.min.css">

<div class="container">
    <div class="intro" style="margin-top: 20px; margin-bottom:20px;">
        <h2 class="text-center">Galeria de Fotos</h2>
    </div>
    <div class="row photos">
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste1.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste1.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste2.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste2.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste3.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste3.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste4.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste4.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste5.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste5.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste6.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste6.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste7.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste7.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste8.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste8.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste9.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste9.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste10.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste10.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste11.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste11.jpg"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/teste12.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/teste12.jpg"></a></div>
    </div>
</div>
</div>
