@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Fotos";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="~/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/js/Cloudflare/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="~/js/Cloudflare/lightbox.min.css">

<div class="container">
    <div class="intro" style="margin-top: 20px; margin-bottom:20px;">
        <h2 class="text-center">Galeria de Fotos</h2>
    </div>
    <div class="row photos" id="fotos">
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/1.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/1.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/2.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/2.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/3.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/3.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/4.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/4.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/5.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/5.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/6.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/6.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/7.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/7.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/8.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/8.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/9.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/9.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item" style="margin-bottom: 10px;"><a href="~/img/10.jpg"
                data-lightbox="photos"><img class="img-fluid" src="~/img/10.jpg"
                    style="border: 2px solid rgba(0,0,0,0.3);"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/11.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/11.jpg" style="border: 2px solid rgba(0,0,0,0.3);"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/img/12.jpg" data-lightbox="photos"><img
                    class="img-fluid" src="~/img/12.jpg" style="border: 2px solid rgba(0,0,0,0.3);"></a>
        </div>
    </div>
</div>
</div>
