@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width: 800px; height: 600px; margin-top: 30px; margin-bottom:-30px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/teste13.jpg" class="d-block w-100" alt="teste13">
            </div>
            <div class="carousel-item">
                <img src="~/img/teste14.jpg" class="d-block w-100" alt="teste14">
            </div>
            <div class="carousel-item">
                <img src="~/img/teste16.jpg" class="d-block w-100" alt="teste16">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="texto-home" class="text-justify">
    <h2>Saco do Mamanguá</h2>
    <p>O Saco do Mamanguá é uma entrada de mar com 8 km de extensão e 2 km de largura. Conhecido como o
        único
        fiorde brasileiro, fica localizado no município de Paraty, Rio de Janeiro, possui 33 praias e 8
        comunidades caiçaras. A região do fundo do Mamanguá há uma belíssima área de mangue bem preservada.
    </p>
    <p>O Saco do Mamanguá é um desses locais que possui uma beleza sem igual, ao se visitar, se tem a
        sensação
        de que o tempo deveria parar e que tudo deveria permanecer exatamente assim.</p>
    <p>A biodiversidade do local é impressionante. Muitas espécies de árvores e flores podem ser vistas. No
        mangue, podem ser vistos diversos pássaros e caranguejos e muitos outros animais.</p>
    <p>Para se chegar ao Saco do Mamanguá pode-se ir de barco, saindo de Paraty-Mirim, ou por trilha
        (aconselhado para quem possui bom condicionamento físico).</p>
    <p>Detalhe importante, para entrar na área de mangue, apenas pode ser feito usando embarcações sem
        motor,
        como caiaques e canoas. Nunca entre no mangue com embarcação motorizada, isso pode prejudicar o
        equilíbrio ecológico do local.</p>
    <p>O ideal é visitar o Mamanguá com guia local que, além de garantir a segurança do visitante, faz de
        tudo
        para preservar o meio ambiente e traz informações relevantes sobre o modo de vida e a ecologia.
        Várias
        praias e locais podem ser visitados.</p>
    <p>Ao visitar o Mamaguá aproveite também para conhecer seus moradores, seu estilo de vida, sua sabedoria
        popular, seu artesanato e a gastronomia.</p>


</div>
