@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Passeios";
}


<div class="texto-home" class="text-justify">
    <h2 class="Titulo-Conteudo">Passeios</h2>

    <p>Os passeios são feitos de barco, na praia de Paraty-mirim sempre há pilotos oferecendo o serviço de
        passeio e translado.
        Os valores podem variar entre R$ 400 e R$ 600 para passeios e R$140 a R$160 para translados,
        dependendo da duração do passeio e tipo do barco.
        Fazendo o passeio em
        grupo o valor é dividido e não ficará caro, case esteja sozinho, procure por grupos que queiram
        fazer o passeio.</p>
    <p>O itinerário do tour é flexível, caso já tenha um itinerário formado é só informar o barqueiro, caso
        não tenha ele te dará sugestões.</p>
    <p>Alguns lugares que valem a pena parar é na Praia Grande, Praia do Engenho, Saco da Velha e no Pico do
        Pão de Açúcar. </p>
    <p>A trilha do pico tem duração média de 1h30min, não é uma trilha difícil, mas requer um pouco de
        preparo físico. Possui 438 metros de altitude.
        A recompensa é a exuberante vista que com certeza valerá cada gota de suor.</p>
    <p>Na entrada do Saco do Mamanguá é encontrada a casa do filme Crepúsculo, sempre é solicitada pelos
        visitantes.</p>
    <p>O Saco da Velha é um local bem requisitado por possuir uma linda praia, vegetação rica e mar de água
        azul e verde. Há apenas uma casa no local, e
        o simpático morador pode indicar o caminho até o mirante para uma bela vista do mar, também até a
        gruta na beira da praia.</p>
    <p>A Cachoeira do Rio Grande pode ser acessado por trilha e caiaque. A trilha é bem tranquila e tem
        duração média de 30 minutos. Possui uma queda d’água
        que desce por uma pedra inclina e cai em uma piscina natural, excelente para se refrescar em um dia
        quente. A natureza ao redor é linda e bem preservada.</p>


</div>
