@using ProjetoMVC.Models
@{
    ViewData["Title"] = "Restaurantes";
}

<h2 class="Titulo-Conteudo">Restaurantes</h2>
<div class="texto-restaurantes">
    <ul>
        <li>Restaurante do Dadico</li>
        <li>Tel: (24) 99933-4247</li>
    </ul>
    <ul>
        <li>Restaurante do Cruzeiro</li>
        <li>Tel: (24) 99902-7001</li>
    </ul>
    <ul>
        <li>Petiscaria do Edinho</li>
    </ul>
    <ul>
        <li>Restaurante do Orlando e Maria</li>
    </ul>
    <ul>
        <li>Quiosque Praia do Carro</li>
        <li>Tel: (24) 99919-4641</li>
    </ul>
    <ul>
        <li>Quiosque Paraty Mirim</li>
        <li>Tel: (24) 99811-6858</li>
    </ul>
    <ul>
        <li>Cantinho do Pastel</li>
        <li>Tel: (21) 96733-6112</li>
    </ul>
    <img src="~/img/MapaRestaurantes.png" class="img-fluid" alt="Imagem responsiva">

</div>
